<div class="user-container">
  <div @fadeIn @fadeOut [matBadge]="(user$ | async)?.id" class="user-card">
    @if (!(pending$ | async)) {
      <img @zoomIn @zoomOut [src]="(user$ | async)?.avatar" class="user-avatar" alt="">
      <h2 @fadeIn @fadeOut
          style="color: var(--primary-color)">{{ (user$ | async)?.first_name + ' ' + (user$ | async)?.last_name }}</h2>
      <span @fadeIn @fadeOut>{{ (user$ | async)?.email }}</span>
    } @else {
      <span style="height: 100%; display: flex; align-items: center;">
        <mat-spinner @fadeIn @fadeOut></mat-spinner>
      </span>
    }
  </div>
  <a [routerLink]="previousPage" style="margin-top: 25px">Back to application users...</a>
</div>
