<div style="position: sticky; top: 0; background: white; z-index: 999999999;">
  <mat-form-field [appearance]="'fill'" style="width: 100%;">
    <input (keyup)="applyFilter($event)" matInput placeholder="Search">
    <mat-icon color="primary" matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<table
  #usersTable
  [dataSource]="usersDataSource"
  [trackBy]="trackByFn"
  class="mat-elevation-z8"
  mat-table
  matSort>

  <!-- ID -->
  <ng-container matColumnDef="spinner">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef @fadeIn @fadeOut mat-cell>
      <mat-spinner></mat-spinner>
    </td>
  </ng-container>

  <!-- First Name -->
  <ng-container matColumnDef="first_name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
    <td *matCellDef="let user" mat-cell>
      <span @fadeIn @fadeOut class="cell">
        {{ user.first_name }}
      </span>
    </td>
  </ng-container>

  <!-- Last Name -->
  <ng-container matColumnDef="last_name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
    <td *matCellDef="let user" mat-cell>
      <span @fadeIn @fadeOut class="cell">
        {{ user.last_name }}
      </span>
    </td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
    <td *matCellDef="let user" mat-cell>
      <span class="cell">
        <span @zoomIn @zoomOut [matBadge]="user?.id"></span>
        <img @zoomIn @zoomOut [src]="user.avatar" alt="" style="width: 60px; height: 60px; border-radius: 40px">
        <span @fadeIn @fadeOut>
          {{ user.email }}
        </span>
      </span>
    </td>
  </ng-container>


  <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
  <tr (click)="clickedRow(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator
  (page)="changePage($event)"
  [length]="(pagination$ | async)?.total || 0"
  [pageIndex]="(pagination$ | async)?.page || 0"
  [pageSize]="(pagination$ | async)?.per_page || 0"
  color="primary">
</mat-paginator>

<h1 style="color: gray; margin-top: 100px; text-align: center;">------We can display users as cards------</h1>

<div class="user-container">
  @for (user of usersDataSource._filterData(usersDataSource._orderData(usersDataSource.data)); track trackByFn) {
    <div @fadeIn @fadeOut class="user-card" (click)="clickedRow(user)" [matBadge]="user?.id">
      @if (!(pending$ | async)) {
        <img @zoomIn @zoomOut [src]="user?.avatar" class="user-avatar" alt="">
        <h2 @fadeIn @fadeOut
            style="color: var(--primary-color)">{{ user?.first_name + ' ' + user?.last_name }}</h2>
        <span @fadeIn @fadeOut>{{ user?.email }}</span>
      } @else {
        <span style="height: 100%; display: flex; align-items: center;">
        <mat-spinner @fadeIn @fadeOut></mat-spinner>
      </span>
      }
    </div>
  }
</div>
