.cell {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

table {
  border: 2px solid rgba(transparent, .2);
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px;
}

.mat-mdc-cell {
  padding: 5px 16px;
}

.mat-mdc-row {
  cursor: pointer;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.mat-mdc-row:hover {
  color: white;
  background: var(--primary-color);
}

.mat-mdc-header-row {
  color: var(--primary-color);
}

.user-card {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.user-card:hover {
  border-color: var(--primary-color);
}
