/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #3f51b5;
  --accent-color: #ff4081;
  --warn-color: #f44336;
}

// User Card
.user-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.user-card {
  border: 2px solid rgba(transparent, .2);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 18rem;
  margin: auto;
  text-align: center;
  gap: 1rem;
}

.user-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid rgba(transparent, .2);
}

// App Spinner
mat-spinner {
  margin: auto;
}
